<!DOCTYPE html>
<html lang='en'>
    <head>
	<meta charset="utf-8">
	<title>Normal and Student-t Distributions</title>
	    {{bokeh_css}}
	    {{bokeh_js}}
    </head>
    <body>
	<img src="normal/static/images/curtin01.png">
	<h1>Normal and Student-t Distributions</h1>
	<p> This application demonstates the basic properties of Normal and Student-t distributions. Use the controls below to change the parameters in these distributions and observe their effects. </p>
	{{plot_div|indent(8)}}
	{{plot_script|indent(8)}}
    </body>
</html>

