<!DOCTYPE html>
<html lang='en'>
    <head>
	<meta charset="utf-8">
	<title>Correlation</title>
	    {{bokeh_css}}
	    {{bokeh_js}}
    </head>
    <body>
	<img src="correlation/static/images/curtin01.png">
	<h1>Correlations</h1>
	<p> This web application demonstrates the concept of correlation. Use the controls below to change the correlation and other features of the random variables. </p>
	{{plot_div|indent(8)}}
	{{plot_script|indent(8)}}
    </body>
</html>

